[project]
[access "refs/*"]
  read = group openstack/ansible-pacemaker-distgit-core
  owner = group openstack/ansible-pacemaker-distgit-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group openstack/ansible-pacemaker-distgit-core
	label-Code-Review = -2..+2 group openstack/ansible-pacemaker-distgit-ptl
	label-Verified = -2..+2 group openstack/ansible-pacemaker-distgit-ptl
	label-Workflow = -1..+1 group openstack/ansible-pacemaker-distgit-core
	label-Workflow = -1..+1 group openstack/ansible-pacemaker-distgit-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group openstack/ansible-pacemaker-distgit-ptl
	read = group Registered Users
    read = group openstack/ansible-pacemaker-distgit-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group openstack/ansible-pacemaker-distgit-core
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = rebase if necessary
